# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Logs and debugging
*.log
*.out
*.err
debug/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Screenshots and output
screenshots/
csv_results/

# Python packaging files
*.egg
*.egg-info/
dist/
build/
*.pyo

# Miscellaneous
*.bak
*.tmp
